.header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header_right {
    float: right;
  }
  
  .search {
    padding: 12px;
    float: left;
    margin-top: 10px;
  }
  
  .search_bar {
    font-size: 17px;
    border: none;
    text-align: left;
    padding: 6px;
  }
  
  .search_button {
    background: #137dc5;
    float: right;
    padding: 6px;
    height: 32px;
    width: 40px;
    border: none;
    cursor: pointer;
  }
  
  .link {
    cursor: pointer;
    float: left;
    color: #137dc5;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
  }